table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #555;
}

table tr:hover {
  background-color: #777;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #333;
  color: white;
}

table tr th div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}